
.card{
    width:300px;
    border-radius:13px !important;
    transition-duration: 1s;
    background-color:transparent !important;
    overflow: hidden;
  }
  
  .card-container{
    display:flex;
  }
  
  .card-front{
    height:150px;
    width:250px;
    border-radius:13px;
    background-size: cover;
  }
  
  .card-back{
    height:150px;
    width:250px;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    color:white;
    border-radius:13px;
    }
  
    .button{
        border:0;
        border-radius:5px;
        width:100px;
        height:30px;
        background-color:chartreuse;
    }
    .boton{
        border:0;
        border-radius:5px;
        widows: 50px;
        height:20px;
        background-color:chartreuse;

    }
  
    .box-info{
      background-color: #000;
      color: white;
      height: 300px;
      width:300px;
      position:absolute;
      z-index: -2;
      border-radius:13px;
      transition-duration: 1s;
      padding-top:170px;
      display: flex;
      flex-direction: column;
      
    }
    .box-info > h6{
        
        font-family: 'Helvetica Neue LT Std'!important;
        font-weight: normal !important;
        font-style: normal !important;
        
        /* justify-content: center; */
    }
  .prop{
      color: orange;
  }
  
    .cards{
        width: 80vw;
        flex-wrap: wrap;
        display: flex;

    }
  