body{
    font-family: 'Helvetica Neue LT Std'!important;
    font-weight: normal !important;
    font-style: normal !important;
}

.navbar{
    /* font-family: 'Nanum Myeongjo', serif;
    font-size: 22px; */
    display: flex;
    justify-content: space-around;
    width: 100vw;
    
}

.nav-item{
    /* background-color: yellow; */
    border: none ;
 

}
.nav-link{
    border:none;
    background-color:transparent;
    font-family: 'Helvetica Neue LT Std';
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-left: 1em;
    margin-right: 1em;
}

  
.nav-link:hover {
    background-color: yellow; 
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
  }

.nav-options-container{
    display: flex !important;
    /* justify-content: flex-end */
}

.nav{
    color: black;
}