body {
    margin: 0;
    font-family: 'Helvetica Neue LT Std';
    
  }
  @font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('//db.onlinewebfonts.com/t/66e796dac9aff5a6967ebdd5e021db01.woff2') format('woff2'),
        url('//db.onlinewebfonts.com/t/66e796dac9aff5a6967ebdd5e021db01.woff') format('woff');
    
    font-style: normal;
}


  /* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  } */
  